.DS_Store
.server.pid
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/*
!.quartz/plugins/
.quartz/plugins/*
!.quartz/plugins/page-title/
quartz/cli/tui/dist/
